* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f2f2;  
}
.cabecalho {
  background-color: #f45b02;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.cabecalho-link {
  color: #fff;
  text-decoration: none;
}

h1 {
  color: #fff;
  font-size: 24px;
}

main {
  flex: 1;
}

.cartao {
    width: 260px;
    height: 200px;
}

.cartao-imagem {
    width: 100%;
}

footer {
  background-color: #f45b02;
background-color:;
padding: 15px 25px;
color: #fff;
}